
<header class="header" [class.scrolled]="isScrolled">
  <div class="container">
    <button class="burger" (click)="toggleMenu()" [class.active]="isMenuOpen">
      <span></span><span></span><span></span>
    </button>

    <div class="logo">
      <svg viewBox="0 0 100 25" width="100">
        <text x="0" y="20" font-family="Arial" font-weight="bold" font-size="20">Tech Shop</text>
      </svg>
    </div>

    <div class="nav-content" [class.open]="isMenuOpen">
      <div class="search-container">
        <div class="search-box">
          <input type="text" placeholder="Search...">
          <div class="search-filters">
            <span class="divider"></span>
            <button class="filter-btn"> <i class="chevron"></i></button>
          </div>
          <button class="search-submit">
            <svg width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5">
              <circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line>
            </svg>
          </button>
        </div>
      </div>

      <nav class="main-nav">
        <ul>
          <li routerLink="/home">home<i></i></li>
          <li routerLink="/products">products<i></i></li>
          <li>about</li>
          <li routerLink="/cart"  ><i class="fa-solid fa-cart-arrow-down"></i>cart</li>
        </ul>
      </nav>
    </div>
    <div *ngIf="!seeSign" class="actions" routerLink="/profile">
  <span class="btn-primary"> <i class="fa-solid fa-2x fa-circle-user"></i>{{firstName}}</span>
</div>

    <div *ngIf="seeSign" class="actions">
  <button class="btn-primary" routerLink="/sign-in" routerLinkActive="activeRoute"><i class="fa-solid fa-2x fa-circle-user"></i>Sign in</button>
</div>
  </div>
</header>